<header class="container">
    <nav class="navbar navbar-dark bg-dark p-1">
        <a class="navbar-brand" href="/">
            <img src="https://experts.abex.be/assets/img/ABEX-old-logo-white-a6a9c417ae16e331d98aba111e9f758e.png"
                width="30" height="30" class="d-inline-block align-top" alt="Pokéball" />
            ABEX
        </a>
        <a class="nav-item nav-link" href="/blog">blog</a>
        <a class="nav-item nav-link" href="/members-list">Members List</a>

        <form method="post" action="/search">
            <input class="form-label" type="text" placeholder="Search" id="name" name="pokemonName" />
            <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </nav>
</header>